---
BasedOnStyle: Google
AlignArrayOfStructures: Right
AlignOperands: AlignAfterOperator
AllowShortFunctionsOnASingleLine: None
AllowShortLoopsOnASingleLine: false
BreakArrays: false
BreakBeforeBraces: Linux
FixNamespaceComments: false
# InsertBraces: true
PointerAlignment: Right
SpaceBeforeParens: Never
SpaceBeforeParensOptions:
  AfterControlStatements: false
TabWidth: 2

